{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "babel-plugin-relative-import",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
